<tr>
  <th></th>
  <% @report.users.each do |user| %>
    <th>
      <div class="name"><%= user.firstname %></div>
      <div class="type"><%= @report.user_types[user].user_type.capitalize %></div>
    </th>
  <% end %>
  <th>Total<%= grid_type == :summary ? '' : ' Hours' %></th>
  <% if grid_type != :summary %>
    <th>Total <%= grid_type.to_s.capitalize %></th>
  <% end %>
  <% if grid_type == :revenue %>
    <th>Reports</th>
    <% if @report.invoiceable %>
        <th>Invoicing</th>
      <% end %>
  <% end %>
</tr>
