<% func = case type
  when :currency then 'number_to_currency'
  when :percent then 'number_to_percentage'
  else 'number_with_precision' end %>
<tr>
  <td>
    <%= name %>
  </td>
  <% @report.users.each do |user| %>
    <td><%= send(func, @report.summaries[key][user], precision: 2) %></td>
  <% end %>
  <td><%= send(func, @report.summaries[key].total, precision: 2) %></td>
  <td></td>
</tr>
