<% func = type == :currency ? 'number_to_currency' : 'number_with_precision' %>
<tr>
  <td>
    <%= name %>
  </td>
  <% @report.users.each do |user| %>
    <td><%= send(func, @report.summaries[key][user], precision: type == :currency ? 2 : 1) %></td>
  <% end %>
  <td><%= send(func, @report.summaries[key].total, precision: type == :currency ? 2 : 1) %></td>
  <td></td>
</tr>
