#report-jump-form {
  float: right;
}

.last-month-link {
  float: right;
  margin: 5px 15px;
}

#report-jump-form input[type=submit] {
  height: 26px;
  line-height: 5px;
}

/* CONFIG */
table.list td,
table.list th {
  text-align: left;
}

span[title] {
  cursor: inherit;
}

[title='required'] {
  color: #bb0000;
  margin: 0 3px;
}

.formtastic .string input {
  width: inherit;
}
