#report-jump-form {
  float: right;
}

#report-jump-form input[type=submit] {
  height: 26px;
  line-height: 5px;
}

/* CONFIG */
span[title] {
  cursor: inherit;
}

[title='required'] {
  color: #bb0000;
  margin: 0 3px;
}

table.list td,
table.list th {
  text-align: left;
}
